{% extends 'base.html'%}
{% block title %} Flask Crud {% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
        <p>Hello, {{ current_user.name }}!</p>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{{ url_for('login_page') }}">Login</a>
        <button id="header-signup">SIGNUP</button>
    {% endif %}
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
{% endblock %}