{% extends 'base.html'%}
{% include 'header.html'%}
{% block title %} Home {% endblock %}
{% set is_login_page = True %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login/styles.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <form action="{{ url_for('auth.postLogin') }}" method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
    
                <button type="submit">Login</button>
            </form>
            <div class="info">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-{{ messages[0].split(' ')[0] }}">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}