{% extends 'base.html'%}
{% include 'header.html'%}
{% block title %} Home {% endblock %}
{% block body %}
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-{{ messages[0].split(' ')[0] }}">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <form action="{{url_for('postLogin')}}" method="POST">
        <label for="">Email :</label>
        <input name="email" placeholder="Plese enter your email" type="email">
        <label for="password">Password :</label>
        <input name="password" placeholder="Please enter your password" type="password">
        <input type="submit">
    </form>
</div>
{% endblock %}